<header id="header" class="header-container">
  <div class="header-logo">
    <li class="header-logo__pic"></li>
  </div>
  <div class="header-search">
    <!-- ここにはインクリを実装する予定 -->
  </div>
  <div class="user-menu">
    <li> <%= link_to "マイページ" %> </li>
    <li> <%= link_to "ログアウト" %> </li>
    <li></li>
    <li></li>
  </div>
</header><!-- /header -->

<div class="main-colum">
  <div class="left-colum">
    <div class="posts-container">
      <div class="posts-head">
      </div>
      <div class="posts-image">
      </div>
      <div class="menu-bar">
      </div>
      <div class="posts-text">
      </div>
    </div>
  </div>
  <div class="right-colum">
    <div class="user-navigater">
      <div class="head-link">
      </div>
      <div class="friend-list">
      </div>
    </div>
  </div>
</div>
